<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Guru</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <div class = "navbar">
            <div class ="logo">
                <img src="IMG/Logo2.png" alt="Logo">
           </div>
        </div>
    </header>


   <div class = "main">
       <div class = "daftarMurid">
           <h1>Daftar Sebagai Pengajar</h1>
           <img src="IMG/guru1.png" alt="murid1">
       </div>
       <div class = "signupGuru">
           <h1>SIGN-UP</h1>

           <div class="username">
            <div class="user">Username :</div>
            <div class="input1"><input type="text"></div>
          </div>

           <div class = "email">
                <div class = "mail">Email :</div>
                <div class = "input2"><input type="text"></div>
           </div>

           <div class = "password">
                <div class = "pass">Password :</div>
                <div class = "input3"><input type="password"></div>
           </div>

           <div class = "tingkatan">
                <p>Pilih jenis pelajaran yang anda kuasai :</p>
                <div class = "tingkat">
                    <select name="jenis" id="pelajaran">
                        <option value="SMA">Fisika</option>
                        <option value="SMP">Kimia</option>
                        <option value="SD">Matematika</option>
                    </select>
                </div>
           </div>

           <div class = "asalSekolah">
                <div class = "asal">Tentukan Tarifmu :</div>
                <div class = "PenaLogo"><img src="IMG/pena.png" alt=""></div>
           </div>

           <div class = "lanjut"><button>Lanjut</button></div>

       </div>
   </div>


</body>
</html>