<html>
    <head>
        <title>
            Face 1
        </title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        <header class="header">
            <div class = "navbar">
                <div class ="logo">
                    <img src="img/Logo.png" alt="Logo">
                </div>

                <div class="links">
                    <a href='daftarMurid'>Daftar Sebagai Murid</a>
                    <a href='daftarPengajar'>Daftar Sebagai Pengajar</a>
                </div>
            </div>
        </header>

        <div class ="main" id="main">

            <div class = "face1_kiri">
                <h2>
                Rio Study Club
                </h2>
                <p>Bimbingan belajar menuju masa depan yang cerah</p>
                <p>Kesulitan mengikuti pelajaran di sekolah? Atau mau masuk PTN tapi khawatir sama nilai rapot kamu? Tenang, jangan panik! Rio Study Club siap membantu kamu meningkatkan nilai-nilai mu bersama para pengajar yang berpengalaman.</p>
                <button class="button" type="button" onclick="window.location.href = 'aboutus';">Kepo kan? Yuk cari tau!</button>
            </div>

            <div class="face1_kanan">
                <img src="img/Studyclub.JPG" class="img1">
            </div>

        </div>
            
    </body>
</html>