<html>
    <head>
        <title>
            HomePage-Student
        </title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    
    <header class="homepic">
        <img src="img/R.png" alt="R" class="r-img">
        <img src="img/HOMEBG.jpg" alt="HOMEBG" class="homebg-img">
      </header>
      

        <body class="hps">
            <div class = "kotak">
                <img src="img/LogoR.png" alt="LogoR">
                <p>My Course</p>
                <p>Register Course</p>
                <p>Report</p>

                <p>Nama</p>
                <div class="kotak2">
                    <img src="" alt="" class="fotprof">
                    <img src="img/downwards-arrow-key_icon-icons 3.png" alt="downwards-arrow-key_icon-icons" class="hpdrop">
                </div>
                
            </div>

            <div class="opt">
                <div class="box">
                    <img src="img/hpicon.png" alt="hpicon" class="ikon">
                    Pilih lebih dari 1 Course
                    <p>Anda boleh memilih lebih dari 1 materi dan 1 pertemuan secara khusus</p>
                </div>

                <div class="box">
                    <img src="img/hpicon (2).png" alt="" class="ikon">
                    Pilih Jadwalmu
                    <p>
                        Buatlah Jadwal kursus yang sesuai dengan waktu anda
                    </p>
                </div>

                <div class="box">
                    <img src="img/hpicon3.png" alt="hpicon3" class="ikon">
                    Semua Online
                    <p>Anda dapat menentukan platform media online yang akan anda gunakan</p>
                </div>

                <div class="box">
                    <img src="img/hpicon4.png" alt="hpicon4" class="ikon">
                    Berakhir Kapan Saja
                    <p>Anda dapat menentukan berapa tarif mengajar yang sesuai dengan anda </p>
                </div>
            </div>
        </body>
</html>