<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Guru</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class = "navbar">
            <div class ="logo">
                <img src="img/Logo.png" alt="Logo">
           </div>
        </div>
    </header>


   <div class = "main1">
       <div class = "daftarMurid">
           <h1>Daftar Sebagai Pengajar</h1>
           <img src="img/Group_139-removebg-preview.png" alt="Group_139-removebg-preview">
       </div>

       <div class = "signupGuru">
           <h1>SIGN-UP</h1>
           <form action="">
           <div class="username">
            <div class="user">Hari :</div>
            <div class="input1"><input type="text"></div>
          </div>

           <div class = "email">
                <div class = "mail">Jam :</div>
                <div class = "input2"><input type="text"></div>
           </div>

            <button class="buttonjdwl" type="button" onclick="window.location.href = 'jadwalPengajar';">Input-Jadwal</button>
            <button class="button" type="button" onclick="window.location.href = 'optlogin';">Lanjut</button>
        </form>
       </div>
   </div>


</body>
</html>