<html>
    <head>
        <title>
            myCourse
        </title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        <header class="hps">
            <div class = "kotak">
                <img src="img/LogoR.png" alt="LogoR">
                <p> <a href="">My Course</a> </p>
                <p><a href="RegisterCourse">Register Course</a></p>
                
                <p> <a href="">Report</a></p>

                <p> <%=namasiswa%> </p>
                <div class="kotak2">
                    <img src="" alt="" class="fotprof">
                    <img src="img/downwards-arrow-key_icon-icons 3.png" alt="downwards-arrow-key_icon-icons" class="hpdrop">
                </div>
                
            </div>
        </header>

        <div class ="main" id="main">
                <h1 class="belumdaftar"> No Course Registered</h1>
        </div>
            
    </body>
</html>