<!DOCTYPE html>
<html>

<head>
    <title>Image Upload</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script defer>
        function handleFileUpload(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            
            reader.onload = function(e) {
                const profilePic = document.getElementById("profile-pic");
                profilePic.src = e.target.result;
            };
            
            reader.readAsDataURL(file);
        }
    </script>
</head>

<body class="bodyprofile">
    <div class="boxprof">
        <p><%=namasiswa%></p>
        <form action="/uploadProfilePic" method="post" enctype="multipart/form-data">
            <div class="iconprof">
                <img src="../public/img/defaultprofile.jpg" id="profile-pic">
            </div>
    
            <div class="btnprof">
                <label for="input-file" class="labelprof">Upload Image</label>
                <input type="file" id="input-file" accept="image/jpg, image/jpeg, image/png" class="inprof" name="profilePic" onchange="handleFileUpload(event)">
                
                <div class="loweropt">
                  <input type="submit" value="Submit" class="subprofim">
                  
                  <div class="keluaropt">
                    <button type="button" onclick="window.location.href='Homepage-student';" class="subprofim">Back</button>
                  <button class="subprofim" type="button" onclick="window.location.href = 'aboutus';">Log-out</button>
                  </div>
                  
                </div>
                
            </div>
        </form>
    </div>
</body>

</html>

<!-- const express = require('express');
const app = express();
const multer = require('multer');
const path = require('path');

// Konfigurasi penyimpanan untuk foto
const storage = multer.diskStorage({
  destination: function (req, file, cb) {
    cb(null, 'public/img');
  },
  filename: function (req, file, cb) {
    // Buat nama file acak dengan ekstensi yang sama seperti file asli
    const uniqueSuffix = Date.now() + '-' + Math.round(Math.random() * 1E9);
    const fileExtension = path.extname(file.originalname);
    cb(null, uniqueSuffix + fileExtension);
  }
});

// Inisialisasi middleware multer
const upload = multer({ storage: storage });

// Menangani permintaan POST untuk mengunggah foto
app.post('/uploadProfilePic', upload.single('profilePic'), (req, res) => {
  // Proses foto yang diunggah, misalnya menyimpan informasi ke database, dll.
  res.redirect('/myCourse'); // Redirect ke halaman lain setelah berhasil mengunggah foto
});

// Menjalankan server pada port tertentu
app.listen(3000, () => {
  console.log('Server berjalan pada port 3000');
}); -->

