<html>
    <head>
        <title>
            RegisterCourse
        </title>
        <link rel="stylesheet" type="text/css" href="styleface.css">
    </head>

    <body>
        <header class="header">
            <div class = "navbar">
                <div class ="logo">
                    <img src="img/Logo.png" alt="Logo">
                </div>
            </div>
        </header>

    <div class="bljr">
            Daftar Paket Belajar
    
            
        <div class="paket">

            <div class="fisika">
                <img src="img/Fisika-removebg-preview.png" alt="Fisika-removebg-preview">
                <p>fisika</p>
            </div>

            <div class="kimia">
                <img src="img/Kimia-removebg-preview.png" alt="Kimia-removebg-preview">
                <p>Kimia</p>
            </div>

            <div class="Matematika">
                <img src="img/Matematika-removebg-preview.png" alt="Matematika-removebg-preview">
                <p>Matematika</p>
            </div>
        </div>

    <button type="submit" class="daftar">Daftar</button>
        <img src="img/Home.png" alt="Home" class="home">
    
    </div>

    </body>
</html>