<html>

<head>
    <title>
        RegisterCourse
    </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script defer>
        window.onload = function () {
            var buttons = document.querySelectorAll('.paket button');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    if (this.dataset.clicked === 'true') {
                        this.style.backgroundColor = '';
                        this.dataset.clicked = 'false';
                    } else {
                        this.style.backgroundColor = '#2C898F';
                        this.dataset.clicked = 'true';
                    }
                });
            });
        };
    </script>


</head>

<body>
    <header class="header">
        <div class="navbar">
            <div class="logo">
                <img src="img/Logo.png" alt="Logo">
            </div>
        </div>
    </header>

    <div class="bljr">
        Daftar Paket Belajar

        <form action="registermp" method="post">
            <div class="paket">
                <div class="fisika">
                    <label for="fisika">
                        <input type="checkbox" name="course" value="fisika" class="check">
                        <img src="img/Fisika-removebg-preview.png" alt="Fisika-removebg-preview">
                        <p>Fisika</p>
                    </label>
                </div>

                <div class="kimia">
                    <label for="kimia">
                        <input type="checkbox" name="course" value="kimia" class="check">
                        <img src="img/Kimia-removebg-preview.png" alt="Kimia-removebg-preview">
                        <p>Kimia</p>
                    </label>
                </div>

                <div class="matematika">
                    <label for="matematika">
                        <input type="checkbox" name="course" value="matematika" class="check">
                        <img src="img/Matematika-removebg-preview.png" alt="Matematika-removebg-preview">
                        <p>Matematika</p>
                    </label>
                </div>
            </div>


            <button type="submit" class="daftar" onclick="window.location.href = 'Homepage-student';">Daftar</button>


            <img src="img/Home.png" alt="Home" class="home" onclick="window.location.href = 'Homepage-student';">


        </form>
    </div>
    

</body>

</html>