<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Student</title>
    <link rel="stylesheet" href="/css/styles.css">

    <header class = "hps">
        <div class= "kotak">
            <img src="IMG/LogoR.png" alt="LogoR" class="LogoR">

            <p><a href="myCourse">My Course</a> </p>
            <p><a href="RegisterCourse">Register Course</a></p>
            <p><a href="" class="report">Report</a></p>
            <p>Nama</p>

            <div class="kotak2">
                
                <img src="" alt="" class="fotprof">
                <img src="img/downwards-arrow-key_icon-icons 3.png" alt="downwards-arrow-key_icon-icons" class="hpdrop">
            </div>
        </div>
    </header>
</head>

<body class="rptst">
    <div class = "reporthed">
        <h1 class="report-tag">Report</h1>
    </div>

    <div class = "optting">
        <select name="tingkat" id="kelas">
            <option value="SD">SD</option>
            <option value="SMP">SMP</option>
            <option value="SMA">SMA</option>
        </select>
    </div>

    <div class = "matpel">
        <div class = "kotakMat">
        <img src="img/Matematika.png" alt="Matematika">
        <div class ="outer1" >
            <div class = "outer2">
                <p>Jumlah Guru :</p>
                <p>Jumlah Murid :</p>

                <div class = "peldlm">
                    <div class = "nomor">1</div>
                    <div class = "kata">Persamaan Kuadrat</div>
                </div>

                <div class = "peldlm">
                    <div class = "nomor">2</div>
                    <div class = "kata">Eksponen</div>
                </div>

                <div class = "peldlm">
                   <div class = "nomor">3</div>
                   <div class = "kata">Logaritma</div>
                </div>
            </div>
        </div>
    </div>

    <div class = "kotakFisika">
        <img src="img/Fisika.png" alt="Fisika">
        <div class ="outer1" >
            <div class = "outer2">
                <p>Jumlah Guru :</p>
                <p>Jumlah Murid :</p>

                <div class = "peldlm">
                   <div class = "nomor">1</div>
                   <div class= "kata">GLB/GLBB</div>
                </div>

                <div class = "peldlm">
                    <div class = "nomor">2</div>
                    <div class = "kata">Fluida Statis</div>
                </div>

            </div>
        </div>
    </div>

    <div class = "kotakKimia">
        <img src="img/Kimia.png" alt="Kimia">
        <div class = "outer1">
            <div class = "outer2">
                <p>Jumlah Guru :</p>
                <p>Jumlah Murid :</p>
    
                <div class = "peldlm">
                   <div class ="nomor">1</div>
                   <div class = "kata">Elektron</div>
                </div>
    
                <div class = "peldlm">
                    <div class = "nomor">2</div>
                    <div class = "kata">Termokimia</div>
                </div>
    
            </div>
        </div>
       
    </div>
</div>

<div class = "home">
    <img src="img/Home.png" alt="Home" class="home" onclick="window.location.href = 'Homepage-student';">
</div>
</body>
</html>