html
{
  width: 100%;
  height: 100%;
}

.header 
{
    width: 100%;
    height: 20%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
}
  
  .navbar 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
}
  
  .logo img {
    height: 80%;
  }
  
  .links {
    margin-left: auto;
    display: flex;
    gap: 50px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    align-items: flex-end;
    margin-right: 5%;
    font-style: normal;
  }
  
  .links a {
    text-decoration:none;
  }
  
  .main {
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
  }

  form
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main1 {
    margin-top: 0px;
    display: flex;
    height: 600px;
    align-items: center;
  }
  
  .face1_kiri {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 50%;
    font-size: 30px;
    text-align: justify;
    margin-left: 5%;
  }
  
  .face1_kanan {
    width: 50%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }

  .AboutUs_kiri {
    width: 50%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }

  .abtus
  {
    width: 70%;
  }

  .AboutUs_kanan {
    width: 50%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }
  
  .img1 {
    width: 90%;
    height: 78%;
    border-radius: 50px;
  }
  
  .kepo {
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    border: 0px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
  }
  
  body {
    background-image: linear-gradient(to bottom, #00C2FF, white);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .ver
  {
    display: flex;
    margin: 0.7%;
    align-items: center;
    width: 47%;
    background-color: white;
    padding: 0.8%;
    border-radius: 20px;
  }

  .verlogo
  {
    width: 16%;
  }

  button
  {
    padding: 3%;
    border-radius: 20%;
    background-color: #fff;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
  }

  button:is(:hover, :focus){
    outline-style: solid;
    outline-color: rgb(185, 182, 182);
    outline-offset: 2px;
    transition: outline-offset 0.3s ease;
}



.homepic {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.r-img {
  width: 24%;
  height: 85%;
  display: flex;
  position: absolute;
  top: -15%;
  left: 50%;
  z-index: 2  ;
}

.homebg-img {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.hps
{
  display: flex;
  flex-direction: column;
}

.kotak {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3%;
  align-items: center;
  background: white;
  position: relative;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  margin-right: 5%;
}

.kotak2
{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1%;
}

.kotak p 
{
  display: flex;
  align-items: center;
}

.gambargbg
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
}

.opt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  height: 40%;
  background : linear-gradient(to bottom, #FFE8AE, white);
  border-radius: 2%;
  width: 100%;
  gap: 3%;
}

.box
{
  border-radius: 20%;
  width: 96%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  gap: 3%;
  text-align: center;
}

.ikon
{
  width: 40%;
}

.bljr
{
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  align-items: center;
  header: 5%;
}
.paket
{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  gap: 4%;
}

.fisika
{
  border: 2px solid black;
  border-radius: 10%;
  background-color: #acf9ff;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  justify-content: center;
}

.fisika p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.kimia p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.matematika p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.check{
  width: 70px;
  height: 70px;
}
.kimia
{
  border: 2px solid black;
  width: 25%;
  border-radius: 10%;
  background-color: #acf9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.matematika
{
  border: 2px solid black;
  width: 25%;
  border-radius: 10%;
  background-color: #acf9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.daftar
{
  padding: 2%;
  width: 12%;
  margin-top: 1%;
  font-size: 28px;
}

.home{
  width: 3%;
  height: 3%;
  margin-right: -80%;
}




  
.daftarMurid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 30px;
  text-align: justify;
  margin-left: 5%;
}

.signupGuru{
  width: 50%;
  height: 100%;
  margin-left: 0%;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupGuru h1{
  font-size: 50px;
}

button{
  border: none;
  background-color: #fff;
  font-size: 20px;
}

.username{
  display: flex;
  margin: 0.7%;
  align-items: center;
  width: 47%;
  background-color: white;
  padding: 2%;
  border-radius: 20px;
}

.user{
  font-size: 28px;
  font-weight: bolder;
}


.email{
  display: flex;
  margin: 0.7%;
  align-items: center;
  width: 47%;
  background-color: white;
  padding: 2%;
  border-radius: 20px;
}

.mail{
  font-size: 28px;
  font-weight: bolder;
}

.password{
  display: flex;
  margin: 0.7%;
  align-items: center;
  width: 47%;
  background-color: white;
  padding: 2%;
  border-radius: 20px;
}

.pass{
  font-size: 28px;
  font-weight: bolder;
}

.tingkatan{
  display: flex;
  font-weight: bold;
  margin: 0.7%;
  align-items: center;
  width: 47%;
  background-color: white;
  padding: 2%;
  border-radius: 20px;
  font-size: 25px;
}

.asalSekolah{
  display: flex;
  font-weight: bold;
  font-size: 28px;
  margin: 1%;
  align-items: center;
  width: 47%;
  background-color: white;
  padding: 2%;
  border-radius: 20px;
}

.lanjut{
  display: flex;
  width: 8%;
  margin: 1%;
  align-items: center;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  height: 30%;
}

.lanjut:is(:hover, :focus){
  outline-style: solid;
  outline-color: rgb(185, 182, 182);
  outline-offset: 2px;
  transition: outline-offset 0.3s ease;
  cursor: pointer;
}

.input1 input{
width: 300px;
margin: 2%;
border: none;
}

.input2 input{
width: 300px;
margin: 2%;
border: none;
}

.input3 input{
width: 300px;
margin: 2%;
border: none;
}

#pelajaran{
justify-content: center;
align-items: center;
width: 100px;
font-size: 23px;
margin-left: 13%;
right: 1%;
}


.optlog
{
  padding: 5%;
  width: 60%;
}

.optkanan
{
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.tulisanlog
{
  font-size: 32px;
  font-weight: bold;
}

.optkiri
{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 50%;
    font-size: 30px;
    text-align: justify;
    margin-left: 5%;
    gap: 5%;
}

.emailmurid
{
  display: flex;
  font-weight: bolder;
  margin: 0.7%;
  align-items: center;
  width: 47%;
  background-color: white;
  padding: 3%;
  border-radius: 20px;
}

.passwordmurid
{
  display: flex;
  font-weight: bolder;
  margin: 0.7%;
  align-items: center;
  width: 47%;
  background-color: white;
  padding: 3%;
  border-radius: 20px;
}

.desc
{
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
}


.jadwal{
  display: flex;
  margin: 2%;
  align-items: center;
  width: 47%;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
}

.hari{
  font-size: 20px;
}


.waktu{
  display: flex;
  margin: 2%;
  align-items: center;
  width: 47%;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
}

.jam{
  font-size: 20px;
}


.SignIn{
  display: flex;
  margin: 3%;
  align-items: center;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  height: 30%;

}

.SignIn:is(:hover, :focus){
  outline-style: solid;
  outline-color: rgb(185, 182, 182);
  outline-offset: 2px;
  transition: outline-offset 0.3s ease;
  cursor: pointer;
}

.InputJadwal{
  display: flex;
  margin: 3%;
  align-items: center;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  height: 30%;
}

.InputJadwal:is(:hover, :focus){
outline-style: solid;
outline-color: rgb(185, 182, 182);
outline-offset: 2px;
transition: outline-offset 0.3s ease;
cursor: pointer;
}

.headerregis
{
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  position: relative;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
}

.belumdaftar
{
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonjdwl
{
  margin-bottom: 2%;
}

.popup{
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap : 5%;
  margin-top: 60px;
  margin-left: 85px;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  background : linear-gradient(to bottom, #FFE8AE, black);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.optting
{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 5%;
}

.reporthed
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.matpel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0%;
  height: 40%;
  border-radius: 2%;
  width: 100%;
  gap: 1%;
}

#kelas{
  font-size: 23px;
  right: 1%;
  background-color:rgba(255, 202, 202, 1) ;
  border-radius: 30px;
  width: 5%;

}

.kelas{
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
  margin-right: 3%;
  
}

.kotakMat {
  border-radius: 20px;
  width: 96%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  gap: 3%;
  text-align: center;
  margin-top: 3%;
}

.kotakFisika {
  border-radius: 20px;
  width: 96%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  gap: 3%;
  text-align: center;
}

.kotakKimia {
  border-radius: 20px;
  width: 96%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  gap: 3%;
  text-align: center;
}


.outer1{
  background-color : white;
  height: 55%;
  width: 50%;
  margin-top: 3%;
  border-radius: 40px;
}

.outer2{
  background-color: rgba(255, 202, 202, 1);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 9.7%;
  margin-left: 9.7%;
  border-radius: 40px;
}

.peldlm{
  background: white;
  margin: 3%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction:row;
  width: 80%;
  height: 80%;
  gap: 5%;
  border-radius: 40px;
}

.nomor{
  background-color: rgba(255, 202, 202, 1);
  border-radius: 100%;
  width: 15%;
  margin: 5%;
  display: flex;
  justify-content: center;
}

.kata{
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.home{
  display: flex;
  justify-content: flex-end;
}



.bodyprofile {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxprof {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10%;
  height: 60%;
  width: 50%;
  font-size: 28px;
  font-weight: bold;
}

.iconprof {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 0%;
  margin-bottom: 5%;
  background-color: black;
  overflow: hidden; /* Tambahkan properti ini untuk memastikan gambar tidak keluar dari frame */
}

.iconprof img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Tambahkan properti ini untuk memastikan gambar tetap dalam frame */
}

.labelprof {
  padding: 30px;
  border-radius: 10%;
  background-color: cyan;
  margin-top: 10%;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10%;
}

.inprof {
  display: none;
}


.home{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.profileimg
{
  height: 90px;
  width: 90px;
  background-color: black;
  border-radius: 50%;
  margin-right: 5%;
}

.hpdrop
{
  width: 1%;
  height: 1%;
}

.btnprof
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subprofim
{
  padding: 3%;
  border-radius: 12%;
  font-size: 20px;
}

.matpel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  height: 40%;
  border-radius: 2%;
}

#kelas{
  font-size: 23px;
  right: 1%;
  background-color:rgba(255, 202, 202, 1) ;
  border-radius: 30px;
  width: 5%;

}

.kelas{
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
  margin-right: 3%;

}

.kotakMat{
  border-radius: 20%;
  width: 96%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  gap: 3%;
  text-align: center;
  margin-top: 3%;
}

.kotakFisika{
  border-radius: 20%;
  width: 96%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  gap: 3%;
  text-align: center;
  margin-top: 3.5%;
}

.kotakKimia{
  border-radius: 20%;
  width: 96%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  gap: 3%;
  text-align: center;
  margin-bottom: 5%;
}

.outer1{
  background-color : white;
  height: 55%;
  width: 50%;
  margin-top: 3%;
  border-radius: 40px;
}

.outer2{
  background-color: rgba(255, 202, 202, 1);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 9.7%;
  margin-left: 9.7%;
  border-radius: 40px;
}

.outer3 {
  background-color: rgba(255, 202, 202, 1);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 12%;
  margin-left: 9.7%;
  border-radius: 40px;
}

.outer4{
  background-color : white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  height: 55%;
  width: 60%;
  margin-top: 3%;
  border-radius: 40px;
}


.gambar{
  margin: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  margin-right: 70%;
  height: 70px;
  width: 70px;
}

.gambar2{
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin-left: 29%;
}

.peldlmkiri
{
  display: flex;
  flex-direction: column;
  margin: 4%;
  height: 100px;

}

.peldlm{
  background: white;
  margin: 3%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction:row;
  width: 80%;
  height: 80%;
  gap: 5%;
  border-radius: 40px;
}

.peldlm2{
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width: 60%;
  height: 90%;
  gap: 5%;
  border-radius: 40px;
}

.nomor{
  background-color: rgba(255, 202, 202, 1);
  border-radius: 100%;
  width: 15%;
  margin: 5%;
  display: flex;
  justify-content: center;
}

.kata{
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.kata2{
  text-align: end;
  font-size: 20px;
}

.home{
  display: flex;
  justify-content: flex-end;
}

.luar{
  display: flex;
  flex-direction: column;
  background-color : white;
  height: 55%;
  width: 50%;
  margin-top: 3%;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.dalam1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dalam2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bagan1{
  background-color:rgba(255, 202, 202, 1);
  display: flex;
  justify-content: center;
}

.bagan2{
  background-color:rgba(255, 202, 202, 1);
  display: flex;
}

.bagan3{
  background-color:rgba(255, 202, 202, 1);
  display: flex;
}

.bagan4{
  background-color:rgba(255, 202, 202, 1);
  display: flex;
}

.judul{
  text-align: center;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.loweropt
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20%;
}

.keluaropt
{
  padding: 5%;
  background-color: #eae8ea;
  color: #eae8ea;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.block
{
  display: flex;
}

.none
{
  display: none;
}

#kelas{
  font-size: 23px;
  right: 1%;
  background-color:rgba(255, 202, 202, 1) ;
  border-radius: 30px;
  width: 5%;

}

.kelas{
  display: flex;
  justify-content: flex-start;
  margin-top: 3%;
  margin-right: 3%;
  
}

.inner{
  background-color: white;
  width: 60%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 20%;
  margin-top: 2%;
  flex-direction: column;
}

.profile{
  background-color:rgba(255, 202, 202, 1) ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-top: 8%;
  margin-right: 20%;
  width: 500px;
}

.foto{
 margin-right: 20%;
 margin-top: 3%;
 margin-bottom: 3%;
}

.nama{
  margin-top: 3%;
 margin-bottom: 3%;
}

.nama p{
  font-size: 20px;
  font-size: bold;
}

.Materi{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}


.inner{
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}

.materiButton{
  background: rgba(255, 202, 202, 1);
  margin: 5%;
  text-align: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction:row;
  width: 750px;
  height: 100px;
  gap: 5%;
  border-radius: 40px;
}

.nomor{
  background-color: white;
  border-radius: 100%;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 3.5%;
  margin-left: 2%;
  height: 50%;
}

.kata{
  font-size: 25px;
  margin-top: 3.5%;
}

.gambar1{
  margin-top: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.daftarB{
  border-radius: 30px;
  background-color:rgba(255, 202, 202, 1);
  margin-top: 5%;
  margin-left:700px;
  font-size: 20px;
  font-family: bold;
  border: none;
  width: 100px;
  height: 50px;
}

.home{
  display: flex;
  justify-content: flex-end;
}

#kelas{
  font-size: 23px;
  margin-right:5% ;
  background-color:rgba(255, 202, 202, 1) ;
  border-radius: 30px;
  width: 100px;
  height: 50px;

}

.kelas{
  display: flex;
  justify-content: flex-start;

}


.header1{
  display: flex;
  flex-direction: row;
}